@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 100px; */
}

@font-face {
  font-family: FeatureFlatHeadline;
  src: url(/assets/fonts/FeatureFlatHeadline.woff2);
}

@font-face {
  font-family: FeatureFlatBold;
  src: url(/assets/fonts/FeatureFlatText-Bold.otf);
}

@font-face {
  font-family: FeatureFlatRegular;
  src: url(/assets/fonts/FeatureFlatText-Regular.otf);
}

@font-face {
  font-family: LarkenExtraBold;
  src: url(/assets/fonts/LarkenDEMO-ExtraBold.otf);
}

@font-face {
  font-family: CourierPrime;
  src: url(/assets/fonts/CourierPrime-Regular.ttf);
}

@font-face {
  font-family: UtopiaItalic;
  src: url(/assets/fonts/Utopia_Italic.ttf);
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-picker-dropdown
  .ant-picker-panel-container {
  background: #fcfae4;
}

.ant-picker-minerva-date {
  width: 100%;
  border-radius: 0px;
  background: #fcfae4 !important;
  height: 34px;
  border-color: #e5e7eb !important;
  box-shadow: none !important;
}

.ant-picker-minerva-date .ant-picker-input input {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

.minerva-venue-radio .ant-radio-inner {
  background: transparent;
}

.minerva-event-image-uploader {
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.minerva-event-image-uploader .ant-upload-select {
  width: 100% !important;
  overflow: hidden;
  height: 218px !important;
  border-radius: 0 !important;
  background: #fcfae4 !important;
}

.minerva-organizer-image-uploader .ant-upload-select {
  width: 100% !important;
  overflow: hidden;
  height: 178px !important;
  border-radius: 0 !important;
  background: #fcfae4 !important;
}

.minerva-venue-image-uploader .ant-upload-select {
  width: 100% !important;
  overflow: hidden;
  height: 100px !important;
  border-radius: 0 !important;
  background: #fcfae4 !important;
}
