@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 100px; */
}

@font-face {
  font-family: FeatureFlatHeadline;
  src: url(/assets/fonts/FeatureFlatHeadline.woff2);
}

@font-face {
  font-family: FeatureFlatBold;
  src: url(/assets/fonts/FeatureFlatText-Bold.otf);
}

@font-face {
  font-family: FeatureFlatRegular;
  src: url(/assets/fonts/FeatureFlatText-Regular.otf);
}

@font-face {
  font-family: LarkenExtraBold;
  src: url(/assets/fonts/LarkenDEMO-ExtraBold.otf);
}

@font-face {
  font-family: CourierPrime;
  src: url(/assets/fonts/CourierPrime-Regular.ttf);
}

@font-face {
  font-family: UtopiaItalic;
  src: url(/assets/fonts/Utopia_Italic.ttf);
}

.styles_title,
.styles_title h1,
.styles_title h2,
.styles_title h3,
.styles_title h4,
.styles_title h5,
.styles_title p {
  font-family: FeatureFlatBold;
  font-size: 20px !important;
  line-height: 27px;
  color: #1f1d1a;
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-variation-settings: "wght" 500, "opsz" 10;
  text-transform: uppercase;
}

.styles_divider {
  border-top: 1px dashed rgba(31, 29, 26, 0.302);
  margin-bottom: 10px;
  height: 1px;
}
